<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index.html :: dynamic(~{::main})}">
<!--  thay toàn bộ nd trong tag main vào dynamic(main) ở bên layout/index -->
<body>
	<main>
		<!-- Start Register Page -->
    <div class="container-fluid pt-3 pb-1" style="background-color: rgb(233, 238, 245) !important;">
        <div class="col-6 m-auto text-center">
            <h1 class="fw-bold h2 text-dark">Forgot Password</h1>
            <p>Quên mật khẩu ?</p>
        </div>
    </div>
	<!-- Close Register Page -->
	
	<!-- Start Register -->
	<form th:action="@{|/forgotPassword|}" method="POST" class="m-auto col-6 shadow p-4 mt-4 mb-4" enctype="multipart/form-data">
			<div class="alert alert-info py-2" role="alert">
				Forgot Password - Quên mật khẩu<br>
				<small class="text-danger">[(${messF})]</small>
			</div>
			<hr class="p-0">
			<div class="form-group mb-3">
				<label class="fw-bold">Username*:</label> 
				<th:block th:if="${#request.remoteUser}"> <!-- Nếu đã đăng nhập thì hiện form này -->
					<input type="text" name="username" class="form-control" th:value="${#request.remoteUser}" readonly>
				</th:block>
				<th:block th:unless="${#request.remoteUser}"> <!-- Nếu chưa đăng nhập thì hiện form này -->
					<input type="text" name="username" class="form-control" placeholder="Enter Username ?" required>
				</th:block>
			</div>
			<div class="form-group mb-3">
				<label class="fw-bold">Email*:</label> 
				<input type="email" name="email" class="form-control" placeholder="Enter Email ?" required>
			</div>
			<div class="form-group text-end">
				<button class="btn btn-primary fw-bold py-2 px-3">
					<i class="bi bi-envelope-check-fill me-1"></i> Khôi Phục Mật Khẩu
				</button>
			</div>
	</form>
	<!-- Close Register Page -->
	</main>
</body>
</html>
