<!-- BRANDS -->
<section id="brand-collection" class="padding-medium bg-light-grey">
	<div class="container">
		<div class="d-flex flex-wrap justify-content-between"
			style="margin: -50px 0 -60px 0px">
			<img th:src="@{|/images/logo/MSI.png|}" alt="msi" class="brand-image">
			<img th:src="@{|/images/logo/LOGITECH.png|}" alt="logitech" class="brand-image">
			<img th:src="@{|/images/logo/GIGABYTE.png|}" alt="gigabyte" class="brand-image">
			<img th:src="@{|/images/logo/ASUS.png|}" alt="asus" class="brand-image">
			<img th:src="@{|/images/logo/NVIDIA.png|}" alt="nvidia" class="brand-image">
		</div>
	</div>
</section>
<!-- SHIPPING -->
<section id="shipping-information">
<hr class="mt-0">
	<div class="container">
		<div
			class="row d-flex flex-wrap align-items-center justify-content-between">
			<div class="col-md-3 col-sm-6">
				<div class="icon-box">
					<i class="icon icon-truck"></i>
					<h4 class="block-title">
						<strong>Miễn phí giao hàng</strong>
					</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="icon-box">
					<i class="icon icon-return"></i>
					<h4 class="block-title">
						<strong>Bảo hành, đổi trả dễ dàng</strong>
					</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="icon-box">
					<i class="icon icon-tags1"></i>
					<h4 class="block-title">
						<strong>Thanh toán tiện lợi</strong>
					</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="icon-box">
					<i class="icon icon-help_outline"></i>
					<h4 class="block-title">
						<strong>Hỗ trợ nhiệt tình</strong>
					</h4>
				</div>
			</div>
		</div>
	</div>
	<hr>
</section>

<footer id="footer">
	<div class="container">
		<div class="footer-menu-list">
			<div class="row d-flex flex-wrap justify-content-between">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="footer-menu">
						<h5 class="widget-title">N7.STORE</h5>
						<ul class="menu-list list-unstyled">
							<li class="menu-item"><a href="about.html">Về chúng tôi</a>
							</li>
							<li class="menu-item"><a href="#">ASUS</a></li>
							<li class="menu-item"><a href="blog.html">ACER</a></li>
							<li class="menu-item"><a href="#">MSI</a></li>
							<li class="menu-item"><a href="#">MACBOOK</a></li>
							<li class="menu-item"><a href="#">KEYBOARD</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="footer-menu">
						<h5 class="widget-title">Dịch vụ khách hàng</h5>
						<ul class="menu-list list-unstyled">
							<li class="menu-item"><a href="faqs.html">FAQ</a></li>
							<li class="menu-item"><a href="contact.html">Liên hệ</a></li>
							<li class="menu-item"><a href="#">Chính sách bảo mật</a></li>
							<li class="menu-item"><a href="#">Hệ thống bảo hành</a></li>
							<li class="menu-item"><a href="#">Thông tin giao hàng</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="footer-menu">
						<h5 class="widget-title">Liên Hệ</h5>
						<p>
							Mọi thắc mắc hoặc góp ý xin liên hệ: <a
								href="mailto:taitvd250803@gmail.com" class="email">taitvd250803@gmail.com</a>
							<br> <strong>+(84) 348.720.610</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
</footer>

<div id="footer-bottom">
	<div class="container">
		<div
			class="d-flex align-items-center flex-wrap justify-content-between">
			<div class="copyright">
				<p>
					Template By <a href="https://github.com/taitvd2508">N7.STORE</a>
				</p>
			</div>
			<div class="payment-method">
				<p>Payment options :</p>
				<div class="card-wrap">
					<img th:src="@{|/images/visa-icon.jpg|}" alt="visa"> <img
						th:src="@{|/images/mastercard.png|}" alt="mastercard"> <img
						th:src="@{|/images/american-express.jpg|}" alt="american-express">
				</div>
			</div>
		</div>
	</div>
</div>