<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">
<head>
<meta charset="UTF-8" th:insert="/common/library.html"><!-- Nhúng các thư viện -->
<title>N7 STORE</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<style>
.disabled_a {
	pointer-events: none;
}
#banner-web-laptop{
    background: url([[@{/images/hero-image2.jpg}]])
                no-repeat;
}
#banner-web-linhkien{
    background: url([[@{/images/banner-lk.jpg}]])
                no-repeat;
}
</style>
</head>
<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
	<header th:replace="/layout/header.html"></header> <!-- NHUNG HEADER -->
	
	<div th:replace="${main}"></div> <!-- main: tên fragment.... Nội dung phần thân -->

	<footer th:replace="/layout/footer.html"></footer> <!-- Nhúng footer -->

	<script th:replace="/common/script.html"></script> <!-- Nhúng Script -->
</body>
</html>